/* === RESET — va siempre primero === */
* {
margin: 0;
padding: 0;
box-sizing: border-box;
}
/* === TIPOGRAFÍA BASE === */
body {
font-family: 'Montserrat', sans-serif; /* reemplazar con la fuente elegida */
background-color: #182844; /* reemplazar con el color de fondo */
color: #ecf0f1;
}

#titulo {
    font-family: 'Honk', sans-serif; /* reemplazar con la fuente de títulos */
    text-align: center;
<<<<<<< HEAD
    font-size: 100%;
}

#about {
    text-align: center;
    font-size: 100%;
=======
    font-size: 150%;
>>>>>>> Seccion-Contacto
}