:root {
    --color-fondo: #2a3439;
    --color-secundario: #182844;
    --color-tres: #ecf0f1;
}

/* === RESET — va siempre primero === */
* {
margin: 0;
padding: 0;
box-sizing: border-box;
}
/* === TIPOGRAFÍA BASE === */
body {
font-family: 'Montserrat', sans-serif; 
background-color: var(--color-fondo); 
color: var(--color-tres);
}

#titulo {
    font-family: 'Honk', sans-serif; 
    text-align: center;
    font-size: 130%;
    padding: 40px 1px;
    
}

#about {
    text-align: center;
    font-size: 100%;
    padding: 28px;
    background-color: var(--color-secundario);
}

#contacto {
    display: inline-block;
    background-color: var(--color-tres);
    color: var(--color-fondo);
}
footer {
    text-align: right;
    padding-top: 6px;
    font-size: 13px;
}